* {
  margin: 0;
  padding: 0;
}

#container {
  height: 80vh;
  width: 80vw;
  margin: 20px auto;
  border: 2px solid black;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
}
