* {
  margin: 0;
  padding: 0;
}

#container {
  height: 80vh;
  width: 80vw;
  margin: 20px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
}
/* 
#div2 {
  flex-grow: 1;
}

#div3 {
  flex-grow: 2;
  order: -1;
} */
