* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0 0 0;
}

#container {
  height: 80vh;
  width: 80vw;
  margin: 20px auto;
  border: 2px solid black;
  display: flex;
}

.box {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  text-align: center;
}
